body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, hsl(210, 48%, 67%), #3a3535);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6; /* Increase line height for better readability */
    font-size: 1.1em; /* Slightly larger font size */
}

.navbar-brand {
    font-size: 1.5em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.25em;
    margin-bottom: 20px;
}

img {
    border-radius: 50%; /* Make the image fully round */
    width: 100px; /* Set a fixed size */
    height: 100px; /* Set a fixed size */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.bio-box {
    background-color: #2b2b2b;
    color: #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    padding: 20px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bio-box h1,
.bio-box .lead,
.bio-box p,
.bio-box a {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adding text shadow for better contrast */
}

footer {
    background-color: #222;
    color: #aaa;
    padding: 15px 0;
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Custom Tab Colors */
.nav-pills .nav-link {
    color: #ddd;
    background-color: transparent;
    border-radius: 10px;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #343a40;
}

.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #485158;
}

#social ul.list-unstyled {
    padding: 0;
    margin: 0;
}

#social ul.list-unstyled li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

#social ul.list-unstyled li a {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
}

#social ul.list-unstyled li a:hover {
    text-decoration: underline;
}

/* Style for the technologies list */
.tech-list {
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
}

.tech-list li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #ddd;
}

/* Skills section styles */
.skills .progress {
    height: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.skills .progress-bar {
    line-height: 25px;
    font-size: 0.9em;
}

/* Contact form styles */
form {
    margin-top: 20px;
}
form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}
form .btn {
    border-radius: 5px;
    background-color: #343a40;
    border: none;
}
form .btn:hover {
    background-color: #485158;
}
